[submodule "html-examples-bnb"]
	path = html-examples-bnb
	url = https://github.com/mateuscqueiros/html-examples-bnb
[submodule "position-bnb-2"]
	path = position-bnb-2
	url = https://github.com/mateuscqueiros/position-bnb-2
[submodule "html-practice-bnb-2"]
	path = html-practice-bnb-2
	url = git@github.com:mateuscqueiros/html-practice-bnb-2.git 
[submodule "flexbox-bnb-2"]
	path = flexbox-bnb-2
	url = git@github.com:mateuscqueiros/flexbox-bnb-2.git
[submodule "javascript-test"]
	path = javascript-test
	url = git@github.com:mateuscqueiros/js-intro-bnb-2.git 
[submodule "grid-bnb-2"]
	path = grid-bnb-2
	url = https://github.com/mateuscqueiros/grid-bnb-2
